@import url(default.css);

/* RESPONSIVIDADE */

@media (max-width: 1700px){
    .hero_left{
        padding-left: 5%;
    }

    .take_bring_left h3{
        max-width: 600px;
    }
}

@media (max-width: 1300px){
    footer{
        justify-content: center;
        padding-inline: 5%;
    }
    .footer_slogan{
        display: none;
    }
    .contatcs{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .line_contact{
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem
    }
    
    .services_container{
        grid-template-columns: repeat(6, 1fr);
    }
    
    .hero_left{
        width: 60%;
    }
    .hero_right{
        width: 40%;
        clip-path: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5%;
    }
    .hero_right img {
        width: 100%;
        height: 400px;
        border-radius: 15px;
        border: 5px solid #aaa; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

}

@media (max-width: 1150px){
    .differences_container{
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .differences_card p,
    .differences li,
    .differences span{
        font-size: 1.1rem;
    }
    .differences_card h3{
        font-size: 1.5rem;
    }

    .take_bring_right img{
        width: 70%;
        height: 500px;
    }
    .take_bring_right{
        width: 50%;
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .take_bring li{
        font-size: 1.1rem;
    }

    .map{
        padding-left: 5rem;
    }
    .info-item p{
        font-size: 1.1rem;
    }
    .remove{
        display: none;
    }

    .services_container{
        grid-template-columns: repeat(5, 1fr);
    }
    .services_icons_img{
        width: 130px;
        height: 130px;
    }
    .services_icons_text{
        max-width: 130px;
        text-align: center;
    }
    .services_icons_text span{
        font-size: 1rem;    
    }

    .header_nav a{
        font-size: 0.95rem;
    }
}

@media (max-width: 980px){
    .header_nav, .header_btn {
        display: none; /* Esconde a navegação principal */
    }

    .header_menu i {
        display: block; /* Mostra o ícone do menu */
    }
    .header_menu {
        display: block;
    }

    .line_contact a{
        font-size: 0.9rem;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 50vh;
        padding-top: 2rem;
    }
    .hero_left{
        padding: 0;
    }
    .hero_right{
        display: none;
    }
}

@media (max-width: 860px){
    .hero_right{
        width: 100%;
        border: 1px solid red;
    }
    
    #title{
        font-size: 3.5rem;
    }
    #subtitle{
        font-size: 1.5rem;
    }
    .hero_left_slogan P{
        font-size: 2rem;
        max-width: 400px;
    }
    .hero_left_slogan_social a{
        font-size: 2.5rem;
    }

    .services_container{
        grid-template-columns: repeat(4, 1fr);
    }
    .services_icons_img{
        width: 120px;
        height: 120px;
    }
    .services_icons_text{
        max-width: 120px;
        text-align: center;
    }
    .services_icons_text span{
        font-size: 0.9rem;    
    }

    .differences_container{
        grid-template-columns: 1fr;
    }

    .take_bring_container{
        flex-direction: column;
    }
    .take_bring_left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .take_bring_left h3{
        max-width: 600px;
    }
    .take_bring_right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .take_bring_right img{
        height: 400px;
    }

    .about_us{
        flex-direction: column;
    }
    .info, .map {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        padding-inline: 5%;
    }
    .map{
        margin-top: 3rem;
    }
}

@media (max-width: 730px){
    .services_container{
        grid-template-columns: repeat(3, 1fr);
    }

    .hero_left_title{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    #title{
        font-size: 3.5rem;
    }
    #subtitle{
        font-size: 1.7rem;
        text-align: center;
    }

    .hero_left_title img{
        border-radius: 10px;
        display: flex;
        margin: 0 auto;
        margin-top: 2rem;
        width: 200px;
        height: 100px;
    }

    .hero_left_slogan_social{
        margin: 0 auto;
        margin-top: 5rem;
    }

    .hero_left_slogan{
        display: none;
    }

    .removetwo{
        display: none;
    }

    .contacts_container{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 540px){
    #title{
        font-size: 3rem;
    }
    #subtitle{
        font-size: 1rem;
    }
    .hero_left_slogan P{
        font-size: 1.5rem;
        max-width: 400px;
    }
    .hero_left_slogan_social a{
        font-size: 2rem;
    }

    .info-box i {
        font-size: 1.5rem;
        padding-right: 5px;
    }
    .info-box .text p {
        font-size: 12px;
    }
    .info-section{
        height: 7rem;
    }
    
    .whatsapp-button img {
        width: 50px;
        height: 50px;
    }
    .hero_left_slogan_social img{
        display: block;
    } 
    .hero_left_slogan_social{
        margin-top: 10px;
        display: flex;
        align-items: center;
        align-items: center;
    }
}

@media (max-width: 420px){
    .hero_left_slogan P{
        display: none;
    }
    #title{
        font-size: 3.5rem;
        text-align: center;
    }
    #subtitle{
        font-size: 1rem;
        text-align: center;
    }
    .hero{
        height: 50vh;
    }
    .hero_left_slogan_social{
        margin-top: 0;
        display: flex;
        align-items: center;
        align-items: center;
    }

    .services_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .services_icons_img{
        width: 100px;
        height: 100px;
    }
    .services_icons_text{
        max-width: 100px;
        text-align: center;
    }
    .services_icons_text span{
        font-size: 0.9rem;    
    }

    .info h2, .map h2{
        font-size: 1.8rem;
    }
    .info-item p{
        font-size: 1rem;
    }
    .info-item i {
        font-size: 1.4rem;
    }
    
    .take_bring h2{
        font-size: 2.5rem;
    }
    .take_bring h3{
        font-size: 1.5rem;
    }
    .take_bring span{
        font-size: 1rem;
    }
    .take_bring li{
        font-size: 1rem;
    }    

    .differences h2{
        font-size: 2.5rem;
    }
    .differences h4{
        font-size: 1.2rem;
    }
    .differences span{
        font-size: 1rem;
    }  
    .differences li{
        font-size: 1rem;
    }
    .differences_card h3{
        font-size: 1.3rem;
    }   
    .differences_card p{
        font-size: 1rem;
    }
   
}   


/* ANIMACOES */
.fade-in-scroll {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}